/* Fonts */
/* font-family: 'Bebas Neue', cursive; */
/* font-family: 'Open Sans', sans-serif; */

@font-face {
  font-family: airstrike;
  src: url(airstrike.ttf);
}

.main{
}

#title{
    font-family: 'Bebas Neue', cursive;
    font-size: 200px;
    color: #1cac78;
    position: relative;
    text-align: center;
    margin-bottom: 20px;
}

.navBar{
    position: relative;
    text-align: center;
}

.navButton{
    border: none;
    background: none;
    font-family: 'Bebas Neue', cursive;
    font-weight: bolder;
    font-size: 48px;
}

.navButton:focus{
    outline: none;
}

.navButton:hover{
    color: #1cac78;
}

.navDivider{
    width: 70px;
    height:auto;
    display:inline-block;
}

.content{
    margin: 100px auto 0px;
    width: 1200px;
    height: 800px;
    border:6px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center; 
}

#contentText{
    text-align: center;
    font-size: 200px;
    font-family: airstrike;
}

#greenSlogan{
    color: #1cac78;
    font-family: 'Bebas Neue', cursive;
    font-weight: bolder;
    font-size: 100px;
    margin: 0px;
}